:root {
  --text: 16px;
  --blue: #1992d4;
  --yellow: #f0b429;
  --grey: #e2e8f0;
  --text: #9e9e9e;
}

.btn {
  height: 40px;
  text-align: center;
  width: 100px;
  background-color: var(--blue);
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.round-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.userImg {
  flex-shrink: 0;
}

.main-content,
.announce,
.trending {
  background-color: var(--grey);
}

p {
  color: var(--text);
}
